In [1]:
import requests #html requestor
from bs4 import BeautifulSoup #html parser
import pandas as pd #dataframe manipulator

In [2]:
headers = {'User-Agent': 'Mozilla/5.0'}
url = 'https://datatables.net/examples/basic_init/zero_configuration.html'

Now we request the html site. A response of 200 means that the request was successful

In [3]:
response = requests.get(url, headers=headers) # we use the headers so that requests imitates the request of a browser
print(response.status_code)

200

Now we parse the result with `BeautifulSoup`.

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')

Printing the result:

In [5]:
soup

<!DOCTYPE html>

<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport"/>
<title>DataTables example - Zero configuration</title>
<link href="/media/images/favicon.png" rel="shortcut icon" type="image/png"/>
<link href="http://www.datatables.net/rss.xml" rel="alternate" title="RSS 2.0" type="application/rss+xml"/>
<link href="/media/css/site-examples.css?_=0db1cd38700c0cfcdc140c39a2ebc306" rel="stylesheet" type="text/css"/>
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
<style class="init" type="text/css">
</style>
<script src="/media/js/site.js?_=99e3a7f81210e4bf610bf9f4bede2312" type="text/javascript"></script>
<script async="" src="/media/js/dynamic.php?comments-page=examples%2Fbasic_init%2Fzero_configuration.html" type="text/javascript"></script>
<script language="javascript" src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
<script language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script language="javascript" src="../resources/demo.js" type="text/javascript"></script>
<script class="init" type="text/javascript">


$(document).ready(function() {
	$('#example').DataTable();
} );


	</script>
</head>
<body class="wide comments example">
<a id="top" name="top"></a>
<div class="fw-background">
<div></div>
</div>
<div class="fw-container">
<div class="fw-header">
<div class="nav-master">
<div class="nav-item active">
<a href="/">DataTables</a>
</div>
<div class="nav-item">
<a href="https://editor.datatables.net">Editor</a>
</div>
<div class="nav-item">
<a href="https://cloudtables.com">CloudTables</a>
</div>
</div>
<div class="nav-search">
<div class="nav-item i-manual">
<a href="/manual">Manual</a>
</div>
<div class="nav-item i-download">
<a href="/download">Download</a>
</div>
<div class="nav-item i-user">
<div class="account"></div>
</div>
<div class="nav-item search">
<form action="/q/" method="get">
<input autocomplete="off" name="q" placeholder="Search . . ." type="text"/>
</form>
</div>
</div>
</div>
<div class="fw-nav">
<div class="nav-main">
<ul><li class="sub-active sub"><a href="/examples/index">Examples</a><ul><li class="active"><a href="/examples/basic_init">Basic initialisation</a></li><li class=""><a href="/examples/advanced_init">Advanced initialisation</a></li><li class=""><a href="/examples/styling">Styling</a></li><li class=""><a href="/examples/data_sources">Data sources</a></li><li class=""><a href="/examples/api">API</a></li><li class=""><a href="/examples/ajax">Ajax</a></li><li class=""><a href="/examples/server_side">Server-side</a></li><li class=""><a href="/examples/plug-ins">Plug-ins</a></li></ul></li><li class="sub"><a href="/manual/index">Manual</a></li><li class="sub"><a href="/reference/index">Reference</a></li><li class="sub"><a href="/extensions/index">Extensions</a></li><li class="sub"><a href="/plug-ins/index">Plug-ins</a></li><li class=""><a href="/blog/index">Blog</a></li><li class=""><a href="/forums/index">Forums</a></li><li class=""><a href="/support/index">Support</a></li><li class=""><a href="/faqs/index">FAQs</a></li><li class=""><a href="/download/index">Download</a></li><li class=""><a href="/purchase/index">Purchase</a></li></ul>
</div>
<div class="mobile-show">
<a><i>Show site navigation</i></a>
</div>
</div>
<div class="fw-body">
<div class="content">
<h1 class="page_title">Zero configuration</h1>
<div class="info">
<p>DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function:
					<code>$().DataTable();</code>.</p>
<p>Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</p>
</div>
<table class="display" id="example" style="width:100%">
<thead>
<tr>
<th>Name</th>
<th>Position</th>
<th>Office</th>
<th>Age</th>
<th>Start date</th>
<th>Salary</th>
</tr>
</thead>
<tbody>
<tr>
<td>Tiger Nixon</td>
<td>System Architect</td>
<td>Edinburgh</td>
<td>61</td>
<td>2011/04/25</td>
<td>$320,800</td>
</tr>
<tr>
<td>Garrett Winters</td>
<td>Accountant</td>
<td>Tokyo</td>
<td>63</td>
<td>2011/07/25</td>
<td>$170,750</td>
</tr>
<tr>
<td>Ashton Cox</td>
<td>Junior Technical Author</td>
<td>San Francisco</td>
<td>66</td>
<td>2009/01/12</td>
<td>$86,000</td>
</tr>
<tr>
<td>Cedric Kelly</td>
<td>Senior Javascript Developer</td>
<td>Edinburgh</td>
<td>22</td>
<td>2012/03/29</td>
<td>$433,060</td>
</tr>
<tr>
<td>Airi Satou</td>
<td>Accountant</td>
<td>Tokyo</td>
<td>33</td>
<td>2008/11/28</td>
<td>$162,700</td>
</tr>
<tr>
<td>Brielle Williamson</td>
<td>Integration Specialist</td>
<td>New York</td>
<td>61</td>
<td>2012/12/02</td>
<td>$372,000</td>
</tr>
<tr>
<td>Herrod Chandler</td>
<td>Sales Assistant</td>
<td>San Francisco</td>
<td>59</td>
<td>2012/08/06</td>
<td>$137,500</td>
</tr>
<tr>
<td>Rhona Davidson</td>
<td>Integration Specialist</td>
<td>Tokyo</td>
<td>55</td>
<td>2010/10/14</td>
<td>$327,900</td>
</tr>
<tr>
<td>Colleen Hurst</td>
<td>Javascript Developer</td>
<td>San Francisco</td>
<td>39</td>
<td>2009/09/15</td>
<td>$205,500</td>
</tr>
<tr>
<td>Sonya Frost</td>
<td>Software Engineer</td>
<td>Edinburgh</td>
<td>23</td>
<td>2008/12/13</td>
<td>$103,600</td>
</tr>
<tr>
<td>Jena Gaines</td>
<td>Office Manager</td>
<td>London</td>
<td>30</td>
<td>2008/12/19</td>
<td>$90,560</td>
</tr>
<tr>
<td>Quinn Flynn</td>
<td>Support Lead</td>
<td>Edinburgh</td>
<td>22</td>
<td>2013/03/03</td>
<td>$342,000</td>
</tr>
<tr>
<td>Charde Marshall</td>
<td>Regional Director</td>
<td>San Francisco</td>
<td>36</td>
<td>2008/10/16</td>
<td>$470,600</td>
</tr>
<tr>
<td>Haley Kennedy</td>
<td>Senior Marketing Designer</td>
<td>London</td>
<td>43</td>
<td>2012/12/18</td>
<td>$313,500</td>
</tr>
<tr>
<td>Tatyana Fitzpatrick</td>
<td>Regional Director</td>
<td>London</td>
<td>19</td>
<td>2010/03/17</td>
<td>$385,750</td>
</tr>
<tr>
<td>Michael Silva</td>
<td>Marketing Designer</td>
<td>London</td>
<td>66</td>
<td>2012/11/27</td>
<td>$198,500</td>
</tr>
<tr>
<td>Paul Byrd</td>
<td>Chief Financial Officer (CFO)</td>
<td>New York</td>
<td>64</td>
<td>2010/06/09</td>
<td>$725,000</td>
</tr>
<tr>
<td>Gloria Little</td>
<td>Systems Administrator</td>
<td>New York</td>
<td>59</td>
<td>2009/04/10</td>
<td>$237,500</td>
</tr>
<tr>
<td>Bradley Greer</td>
<td>Software Engineer</td>
<td>London</td>
<td>41</td>
<td>2012/10/13</td>
<td>$132,000</td>
</tr>
<tr>
<td>Dai Rios</td>
<td>Personnel Lead</td>
<td>Edinburgh</td>
<td>35</td>
<td>2012/09/26</td>
<td>$217,500</td>
</tr>
<tr>
<td>Jenette Caldwell</td>
<td>Development Lead</td>
<td>New York</td>
<td>30</td>
<td>2011/09/03</td>
<td>$345,000</td>
</tr>
<tr>
<td>Yuri Berry</td>
<td>Chief Marketing Officer (CMO)</td>
<td>New York</td>
<td>40</td>
<td>2009/06/25</td>
<td>$675,000</td>
</tr>
<tr>
<td>Caesar Vance</td>
<td>Pre-Sales Support</td>
<td>New York</td>
<td>21</td>
<td>2011/12/12</td>
<td>$106,450</td>
</tr>
<tr>
<td>Doris Wilder</td>
<td>Sales Assistant</td>
<td>Sydney</td>
<td>23</td>
<td>2010/09/20</td>
<td>$85,600</td>
</tr>
<tr>
<td>Angelica Ramos</td>
<td>Chief Executive Officer (CEO)</td>
<td>London</td>
<td>47</td>
<td>2009/10/09</td>
<td>$1,200,000</td>
</tr>
<tr>
<td>Gavin Joyce</td>
<td>Developer</td>
<td>Edinburgh</td>
<td>42</td>
<td>2010/12/22</td>
<td>$92,575</td>
</tr>
<tr>
<td>Jennifer Chang</td>
<td>Regional Director</td>
<td>Singapore</td>
<td>28</td>
<td>2010/11/14</td>
<td>$357,650</td>
</tr>
<tr>
<td>Brenden Wagner</td>
<td>Software Engineer</td>
<td>San Francisco</td>
<td>28</td>
<td>2011/06/07</td>
<td>$206,850</td>
</tr>
<tr>
<td>Fiona Green</td>
<td>Chief Operating Officer (COO)</td>
<td>San Francisco</td>
<td>48</td>
<td>2010/03/11</td>
<td>$850,000</td>
</tr>
<tr>
<td>Shou Itou</td>
<td>Regional Marketing</td>
<td>Tokyo</td>
<td>20</td>
<td>2011/08/14</td>
<td>$163,000</td>
</tr>
<tr>
<td>Michelle House</td>
<td>Integration Specialist</td>
<td>Sydney</td>
<td>37</td>
<td>2011/06/02</td>
<td>$95,400</td>
</tr>
<tr>
<td>Suki Burks</td>
<td>Developer</td>
<td>London</td>
<td>53</td>
<td>2009/10/22</td>
<td>$114,500</td>
</tr>
<tr>
<td>Prescott Bartlett</td>
<td>Technical Author</td>
<td>London</td>
<td>27</td>
<td>2011/05/07</td>
<td>$145,000</td>
</tr>
<tr>
<td>Gavin Cortez</td>
<td>Team Leader</td>
<td>San Francisco</td>
<td>22</td>
<td>2008/10/26</td>
<td>$235,500</td>
</tr>
<tr>
<td>Martena Mccray</td>
<td>Post-Sales support</td>
<td>Edinburgh</td>
<td>46</td>
<td>2011/03/09</td>
<td>$324,050</td>
</tr>
<tr>
<td>Unity Butler</td>
<td>Marketing Designer</td>
<td>San Francisco</td>
<td>47</td>
<td>2009/12/09</td>
<td>$85,675</td>
</tr>
<tr>
<td>Howard Hatfield</td>
<td>Office Manager</td>
<td>San Francisco</td>
<td>51</td>
<td>2008/12/16</td>
<td>$164,500</td>
</tr>
<tr>
<td>Hope Fuentes</td>
<td>Secretary</td>
<td>San Francisco</td>
<td>41</td>
<td>2010/02/12</td>
<td>$109,850</td>
</tr>
<tr>
<td>Vivian Harrell</td>
<td>Financial Controller</td>
<td>San Francisco</td>
<td>62</td>
<td>2009/02/14</td>
<td>$452,500</td>
</tr>
<tr>
<td>Timothy Mooney</td>
<td>Office Manager</td>
<td>London</td>
<td>37</td>
<td>2008/12/11</td>
<td>$136,200</td>
</tr>
<tr>
<td>Jackson Bradshaw</td>
<td>Director</td>
<td>New York</td>
<td>65</td>
<td>2008/09/26</td>
<td>$645,750</td>
</tr>
<tr>
<td>Olivia Liang</td>
<td>Support Engineer</td>
<td>Singapore</td>
<td>64</td>
<td>2011/02/03</td>
<td>$234,500</td>
</tr>
<tr>
<td>Bruno Nash</td>
<td>Software Engineer</td>
<td>London</td>
<td>38</td>
<td>2011/05/03</td>
<td>$163,500</td>
</tr>
<tr>
<td>Sakura Yamamoto</td>
<td>Support Engineer</td>
<td>Tokyo</td>
<td>37</td>
<td>2009/08/19</td>
<td>$139,575</td>
</tr>
<tr>
<td>Thor Walton</td>
<td>Developer</td>
<td>New York</td>
<td>61</td>
<td>2013/08/11</td>
<td>$98,540</td>
</tr>
<tr>
<td>Finn Camacho</td>
<td>Support Engineer</td>
<td>San Francisco</td>
<td>47</td>
<td>2009/07/07</td>
<td>$87,500</td>
</tr>
<tr>
<td>Serge Baldwin</td>
<td>Data Coordinator</td>
<td>Singapore</td>
<td>64</td>
<td>2012/04/09</td>
<td>$138,575</td>
</tr>
<tr>
<td>Zenaida Frank</td>
<td>Software Engineer</td>
<td>New York</td>
<td>63</td>
<td>2010/01/04</td>
<td>$125,250</td>
</tr>
<tr>
<td>Zorita Serrano</td>
<td>Software Engineer</td>
<td>San Francisco</td>
<td>56</td>
<td>2012/06/01</td>
<td>$115,000</td>
</tr>
<tr>
<td>Jennifer Acosta</td>
<td>Junior Javascript Developer</td>
<td>Edinburgh</td>
<td>43</td>
<td>2013/02/01</td>
<td>$75,650</td>
</tr>
<tr>
<td>Cara Stevens</td>
<td>Sales Assistant</td>
<td>New York</td>
<td>46</td>
<td>2011/12/06</td>
<td>$145,600</td>
</tr>
<tr>
<td>Hermione Butler</td>
<td>Regional Director</td>
<td>London</td>
<td>47</td>
<td>2011/03/21</td>
<td>$356,250</td>
</tr>
<tr>
<td>Lael Greer</td>
<td>Systems Administrator</td>
<td>London</td>
<td>21</td>
<td>2009/02/27</td>
<td>$103,500</td>
</tr>
<tr>
<td>Jonas Alexander</td>
<td>Developer</td>
<td>San Francisco</td>
<td>30</td>
<td>2010/07/14</td>
<td>$86,500</td>
</tr>
<tr>
<td>Shad Decker</td>
<td>Regional Director</td>
<td>Edinburgh</td>
<td>51</td>
<td>2008/11/13</td>
<td>$183,000</td>
</tr>
<tr>
<td>Michael Bruce</td>
<td>Javascript Developer</td>
<td>Singapore</td>
<td>29</td>
<td>2011/06/27</td>
<td>$183,000</td>
</tr>
<tr>
<td>Donna Snider</td>
<td>Customer Support</td>
<td>New York</td>
<td>27</td>
<td>2011/01/25</td>
<td>$112,000</td>
</tr>
</tbody>
<tfoot>
<tr>
<th>Name</th>
<th>Position</th>
<th>Office</th>
<th>Age</th>
<th>Start date</th>
<th>Salary</th>
</tr>
</tfoot>
</table>
<ul class="tabs">
<li class="active">Javascript</li>
<li>HTML</li>
<li>CSS</li>
<li>Ajax</li>
<li>Server-side script</li>
<li class="comment-count">Comments</li>
</ul>
<div class="tabs">
<div class="js">
<p>The Javascript shown below is used to initialise the table shown in this example:</p><code class="multiline language-js">$(document).ready(function() {
	$('#example').DataTable();
} );</code>
<p>In addition to the above code, the following Javascript library files are loaded for use in this example:</p>
<ul>
<li>
<a href="https://code.jquery.com/jquery-3.5.1.js">https://code.jquery.com/jquery-3.5.1.js</a>
</li>
<li>
<a href="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js">https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js</a>
</li>
</ul>
</div>
<div class="table">
<p>The HTML shown below is the raw HTML table element, before it has been enhanced by DataTables:</p>
</div>
<div class="css">
<div>
<p>This example uses a little bit of additional CSS beyond what is loaded from the library files (below), in order to correctly display the table. The
							additional CSS used is shown below:</p><code class="multiline language-css"></code>
</div>
<p>The following CSS library files are loaded for use in this example to provide the styling of the table:</p>
<ul>
<li>
<a href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css</a>
</li>
</ul>
</div>
<div class="ajax">
<p>This table loads data by Ajax. The latest data that has been loaded is shown below. This data will update automatically as any additional data is
						loaded.</p>
</div>
<div class="php">
<p>The script used to perform the server-side processing for this table is shown below. Please note that this is just an example script using PHP.
						Server-side processing scripts can be written in any language, using <a href="//datatables.net/manual/server-side">the protocol described in the DataTables
						documentation</a>.</p>
</div>
<div class="comments">
<div class="comments-insert"></div>
</div>
</div>
<h2>Other examples</h2>
<div class="toc">
<div class="toc-group">
<h3><a href="./index.html">Basic initialisation</a></h3>
<ul class="toc active">
<li class="active">
<a href="./zero_configuration.html">Zero configuration</a>
</li>
<li>
<a href="./filter_only.html">Feature enable / disable</a>
</li>
<li>
<a href="./table_sorting.html">Default ordering (sorting)</a>
</li>
<li>
<a href="./multi_col_sort.html">Multi-column ordering</a>
</li>
<li>
<a href="./multiple_tables.html">Multiple tables</a>
</li>
<li>
<a href="./hidden_columns.html">Hidden columns</a>
</li>
<li>
<a href="./complex_header.html">Complex headers (rowspan and colspan)</a>
</li>
<li>
<a href="./dom.html">DOM positioning</a>
</li>
<li>
<a href="./flexible_width.html">Flexible table width</a>
</li>
<li>
<a href="./state_save.html">State saving</a>
</li>
<li>
<a href="./data_rendering.html">Data rendering</a>
</li>
<li>
<a href="./alt_pagination.html">Alternative pagination</a>
</li>
<li>
<a href="./scroll_y.html">Scroll - vertical</a>
</li>
<li>
<a href="./scroll_y_dynamic.html">Scroll - vertical, dynamic height</a>
</li>
<li>
<a href="./scroll_x.html">Scroll - horizontal</a>
</li>
<li>
<a href="./scroll_xy.html">Scroll - horizontal and vertical</a>
</li>
<li>
<a href="./comma-decimal.html">Language - Comma decimal place</a>
</li>
<li>
<a href="./language.html">Language options</a>
</li>
</ul>
</div>
<div class="toc-group">
<h3><a href="../advanced_init/index.html">Advanced initialisation</a></h3>
<ul class="toc">
<li>
<a href="../advanced_init/events_live.html">DOM / jQuery events</a>
</li>
<li>
<a href="../advanced_init/dt_events.html">DataTables events</a>
</li>
<li>
<a href="../advanced_init/column_render.html">Column rendering</a>
</li>
<li>
<a href="../advanced_init/length_menu.html">Page length options</a>
</li>
<li>
<a href="../advanced_init/dom_multiple_elements.html">Multiple table control elements</a>
</li>
<li>
<a href="../advanced_init/complex_header.html">Complex headers with column visibility</a>
</li>
<li>
<a href="../advanced_init/object_dom_read.html">Read HTML to data objects</a>
</li>
<li>
<a href="../advanced_init/html5-data-attributes.html">HTML5 data-* attributes - cell data</a>
</li>
<li>
<a href="../advanced_init/html5-data-options.html">HTML5 data-* attributes - table options</a>
</li>
<li>
<a href="../advanced_init/language_file.html">Language file</a>
</li>
<li>
<a href="../advanced_init/defaults.html">Setting defaults</a>
</li>
<li>
<a href="../advanced_init/row_callback.html">Row created callback</a>
</li>
<li>
<a href="../advanced_init/row_grouping.html">Row grouping</a>
</li>
<li>
<a href="../advanced_init/footer_callback.html">Footer callback</a>
</li>
<li>
<a href="../advanced_init/dom_toolbar.html">Custom toolbar elements</a>
</li>
<li>
<a href="../advanced_init/sort_direction_control.html">Order direction sequence control</a>
</li>
</ul>
</div>
<div class="toc-group">
<h3><a href="../styling/index.html">Styling</a></h3>
<ul class="toc">
<li>
<a href="../styling/display.html">Base style</a>
</li>
<li>
<a href="../styling/no-classes.html">Base style - no styling classes</a>
</li>
<li>
<a href="../styling/cell-border.html">Base style - cell borders</a>
</li>
<li>
<a href="../styling/compact.html">Base style - compact</a>
</li>
<li>
<a href="../styling/hover.html">Base style - hover</a>
</li>
<li>
<a href="../styling/order-column.html">Base style - order-column</a>
</li>
<li>
<a href="../styling/row-border.html">Base style - row borders</a>
</li>
<li>
<a href="../styling/stripe.html">Base style - stripe</a>
</li>
<li>
<a href="../styling/bootstrap.html">Bootstrap 3</a>
</li>
<li>
<a href="../styling/bootstrap4.html">Bootstrap 4</a>
</li>
<li>
<a href="../styling/foundation.html">Foundation</a>
</li>
<li>
<a href="../styling/semanticui.html">Semantic UI</a>
</li>
<li>
<a href="../styling/jqueryUI.html">jQuery UI ThemeRoller</a>
</li>
<li>
<a href="../styling/material.html">Material Design (Tech. preview)</a>
</li>
<li>
<a href="../styling/uikit.html">UIKit 3 (Tech. preview)</a>
</li>
</ul>
</div>
<div class="toc-group">
<h3><a href="../data_sources/index.html">Data sources</a></h3>
<ul class="toc">
<li>
<a href="../data_sources/dom.html">HTML (DOM) sourced data</a>
</li>
<li>
<a href="../data_sources/ajax.html">Ajax sourced data</a>
</li>
<li>
<a href="../data_sources/js_array.html">Javascript sourced data</a>
</li>
<li>
<a href="../data_sources/server_side.html">Server-side processing</a>
</li>
</ul>
</div>
<div class="toc-group">
<h3><a href="../api/index.html">API</a></h3>
<ul class="toc">
<li>
<a href="../api/add_row.html">Add rows</a>
</li>
<li>
<a href="../api/multi_filter.html">Individual column searching (text inputs)</a>
</li>
<li>
<a href="../api/multi_filter_select.html">Individual column searching (select inputs)</a>
</li>
<li>
<a href="../api/highlight.html">Highlighting rows and columns</a>
</li>
<li>
<a href="../api/row_details.html">Child rows (show extra / detailed information)</a>
</li>
<li>
<a href="../api/select_row.html">Row selection (multiple rows)</a>
</li>
<li>
<a href="../api/select_single_row.html">Row selection and deletion (single row)</a>
</li>
<li>
<a href="../api/form.html">Form inputs</a>
</li>
<li>
<a href="../api/counter_columns.html">Index column</a>
</li>
<li>
<a href="../api/show_hide.html">Show / hide columns dynamically</a>
</li>
<li>
<a href="../api/api_in_init.html">Using API in callbacks</a>
</li>
<li>
<a href="../api/tabs_and_scrolling.html">Scrolling and Bootstrap tabs</a>
</li>
<li>
<a href="../api/regex.html">Search API (regular expressions)</a>
</li>
</ul>
</div>
<div class="toc-group">
<h3><a href="../ajax/index.html">Ajax</a></h3>
<ul class="toc">
<li>
<a href="../ajax/simple.html">Ajax data source (arrays)</a>
</li>
<li>
<a href="../ajax/objects.html">Ajax data source (objects)</a>
</li>
<li>
<a href="../ajax/deep.html">Nested object data (objects)</a>
</li>
<li>
<a href="../ajax/objects_subarrays.html">Nested object data (arrays)</a>
</li>
<li>
<a href="../ajax/orthogonal-data.html">Orthogonal data</a>
</li>
<li>
<a href="../ajax/null_data_source.html">Generated content for a column</a>
</li>
<li>
<a href="../ajax/custom_data_property.html">Custom data source property</a>
</li>
<li>

We see that the information we want to extract is enclosed in tags named `tr`. Now we find every one of these tags

In [6]:
info = soup.find_all('tr')
print(len(info))

59

In [7]:
print(info)

[<tr>
<th>Name</th>
<th>Position</th>
<th>Office</th>
<th>Age</th>
<th>Start date</th>
<th>Salary</th>
</tr>, <tr>
<td>Tiger Nixon</td>
<td>System Architect</td>
<td>Edinburgh</td>
<td>61</td>
<td>2011/04/25</td>
<td>$320,800</td>
</tr>, <tr>
<td>Garrett Winters</td>
<td>Accountant</td>
<td>Tokyo</td>
<td>63</td>
<td>2011/07/25</td>
<td>$170,750</td>
</tr>, <tr>
<td>Ashton Cox</td>
<td>Junior Technical Author</td>
<td>San Francisco</td>
<td>66</td>
<td>2009/01/12</td>
<td>$86,000</td>
</tr>, <tr>
<td>Cedric Kelly</td>
<td>Senior Javascript Developer</td>
<td>Edinburgh</td>
<td>22</td>
<td>2012/03/29</td>
<td>$433,060</td>
</tr>, <tr>
<td>Airi Satou</td>
<td>Accountant</td>
<td>Tokyo</td>
<td>33</td>
<td>2008/11/28</td>
<td>$162,700</td>
</tr>, <tr>
<td>Brielle Williamson</td>
<td>Integration Specialist</td>
<td>New York</td>
<td>61</td>
<td>2012/12/02</td>
<td>$372,000</td>
</tr>, <tr>
<td>Herrod Chandler</td>
<td>Sales Assistant</td>
<td>San Francisco</td>
<td>59</td>
<td>2012/08/06</td>
<td>$137,500</td>
</tr>, <tr>
<td>Rhona Davidson</td>
<td>Integration Specialist</td>
<td>Tokyo</td>
<td>55</td>
<td>2010/10/14</td>
<td>$327,900</td>
</tr>, <tr>
<td>Colleen Hurst</td>
<td>Javascript Developer</td>
<td>San Francisco</td>
<td>39</td>
<td>2009/09/15</td>
<td>$205,500</td>
</tr>, <tr>
<td>Sonya Frost</td>
<td>Software Engineer</td>
<td>Edinburgh</td>
<td>23</td>
<td>2008/12/13</td>
<td>$103,600</td>
</tr>, <tr>
<td>Jena Gaines</td>
<td>Office Manager</td>
<td>London</td>
<td>30</td>
<td>2008/12/19</td>
<td>$90,560</td>
</tr>, <tr>
<td>Quinn Flynn</td>
<td>Support Lead</td>
<td>Edinburgh</td>
<td>22</td>
<td>2013/03/03</td>
<td>$342,000</td>
</tr>, <tr>
<td>Charde Marshall</td>
<td>Regional Director</td>
<td>San Francisco</td>
<td>36</td>
<td>2008/10/16</td>
<td>$470,600</td>
</tr>, <tr>
<td>Haley Kennedy</td>
<td>Senior Marketing Designer</td>
<td>London</td>
<td>43</td>
<td>2012/12/18</td>
<td>$313,500</td>
</tr>, <tr>
<td>Tatyana Fitzpatrick</td>
<td>Regional Director</td>
<td>London</td>
<td>19</td>
<td>2010/03/17</td>
<td>$385,750</td>
</tr>, <tr>
<td>Michael Silva</td>
<td>Marketing Designer</td>
<td>London</td>
<td>66</td>
<td>2012/11/27</td>
<td>$198,500</td>
</tr>, <tr>
<td>Paul Byrd</td>
<td>Chief Financial Officer (CFO)</td>
<td>New York</td>
<td>64</td>
<td>2010/06/09</td>
<td>$725,000</td>
</tr>, <tr>
<td>Gloria Little</td>
<td>Systems Administrator</td>
<td>New York</td>
<td>59</td>
<td>2009/04/10</td>
<td>$237,500</td>
</tr>, <tr>
<td>Bradley Greer</td>
<td>Software Engineer</td>
<td>London</td>
<td>41</td>
<td>2012/10/13</td>
<td>$132,000</td>
</tr>, <tr>
<td>Dai Rios</td>
<td>Personnel Lead</td>
<td>Edinburgh</td>
<td>35</td>
<td>2012/09/26</td>
<td>$217,500</td>
</tr>, <tr>
<td>Jenette Caldwell</td>
<td>Development Lead</td>
<td>New York</td>
<td>30</td>
<td>2011/09/03</td>
<td>$345,000</td>
</tr>, <tr>
<td>Yuri Berry</td>
<td>Chief Marketing Officer (CMO)</td>
<td>New York</td>
<td>40</td>
<td>2009/06/25</td>
<td>$675,000</td>
</tr>, <tr>
<td>Caesar Vance</td>
<td>Pre-Sales Support</td>
<td>New York</td>
<td>21</td>
<td>2011/12/12</td>
<td>$106,450</td>
</tr>, <tr>
<td>Doris Wilder</td>
<td>Sales Assistant</td>
<td>Sydney</td>
<td>23</td>
<td>2010/09/20</td>
<td>$85,600</td>
</tr>, <tr>
<td>Angelica Ramos</td>
<td>Chief Executive Officer (CEO)</td>
<td>London</td>
<td>47</td>
<td>2009/10/09</td>
<td>$1,200,000</td>
</tr>, <tr>
<td>Gavin Joyce</td>
<td>Developer</td>
<td>Edinburgh</td>
<td>42</td>
<td>2010/12/22</td>
<td>$92,575</td>
</tr>, <tr>
<td>Jennifer Chang</td>
<td>Regional Director</td>
<td>Singapore</td>
<td>28</td>
<td>2010/11/14</td>
<td>$357,650</td>
</tr>, <tr>
<td>Brenden Wagner</td>
<td>Software Engineer</td>
<td>San Francisco</td>
<td>28</td>
<td>2011/06/07</td>
<td>$206,850</td>
</tr>, <tr>
<td>Fiona Green</td>
<td>Chief Operating Officer (COO)</td>
<td>San Francisco</td>
<td>48</td>
<td>2010/03/11</td>
<td>$850,000</td>
</tr>, <tr>
<td>Shou Itou</td>
<td>Regional Marketing</td>
<td>Tokyo</td>
<td>20</td>
<td>2011/08/14</td>
<td>$163,000</td>
</tr>, <tr>
<td>Michelle House</td>
<td>Integration Specialist</td>
<td>Sydney</td>
<td>37</td>
<td>2011/06/02</td>
<td>$95,400</td>
</tr>, <tr>
<td>Suki Burks</td>
<td>Developer</td>
<td>London</td>
<td>53</td>
<td>2009/10/22</td>
<td>$114,500</td>
</tr>, <tr>
<td>Prescott Bartlett</td>
<td>Technical Author</td>
<td>London</td>
<td>27</td>
<td>2011/05/07</td>
<td>$145,000</td>
</tr>, <tr>
<td>Gavin Cortez</td>
<td>Team Leader</td>
<td>San Francisco</td>
<td>22</td>
<td>2008/10/26</td>
<td>$235,500</td>
</tr>, <tr>
<td>Martena Mccray</td>
<td>Post-Sales support</td>
<td>Edinburgh</td>
<td>46</td>
<td>2011/03/09</td>
<td>$324,050</td>
</tr>, <tr>
<td>Unity Butler</td>
<td>Marketing Designer</td>
<td>San Francisco</td>
<td>47</td>
<td>2009/12/09</td>
<td>$85,675</td>
</tr>, <tr>
<td>Howard Hatfield</td>
<td>Office Manager</td>
<td>San Francisco</td>
<td>51</td>
<td>2008/12/16</td>
<td>$164,500</td>
</tr>, <tr>
<td>Hope Fuentes</td>
<td>Secretary</td>
<td>San Francisco</td>
<td>41</td>
<td>2010/02/12</td>
<td>$109,850</td>
</tr>, <tr>
<td>Vivian Harrell</td>
<td>Financial Controller</td>
<td>San Francisco</td>
<td>62</td>
<td>2009/02/14</td>
<td>$452,500</td>
</tr>, <tr>
<td>Timothy Mooney</td>
<td>Office Manager</td>
<td>London</td>
<td>37</td>
<td>2008/12/11</td>
<td>$136,200</td>
</tr>, <tr>
<td>Jackson Bradshaw</td>
<td>Director</td>
<td>New York</td>
<td>65</td>
<td>2008/09/26</td>
<td>$645,750</td>
</tr>, <tr>
<td>Olivia Liang</td>
<td>Support Engineer</td>
<td>Singapore</td>
<td>64</td>
<td>2011/02/03</td>
<td>$234,500</td>
</tr>, <tr>
<td>Bruno Nash</td>
<td>Software Engineer</td>
<td>London</td>
<td>38</td>
<td>2011/05/03</td>
<td>$163,500</td>
</tr>, <tr>
<td>Sakura Yamamoto</td>
<td>Support Engineer</td>
<td>Tokyo</td>
<td>37</td>
<td>2009/08/19</td>
<td>$139,575</td>
</tr>, <tr>
<td>Thor Walton</td>
<td>Developer</td>
<td>New York</td>
<td>61</td>
<td>2013/08/11</td>
<td>$98,540</td>
</tr>, <tr>
<td>Finn Camacho</td>
<td>Support Engineer</td>
<td>San Francisco</td>
<td>47</td>
<td>2009/07/07</td>
<td>$87,500</td>
</tr>, <tr>
<td>Serge Baldwin</td>
<td>Data Coordinator</td>
<td>Singapore</td>
<td>64</td>
<td>2012/04/09</td>
<td>$138,575</td>
</tr>, <tr>
<td>Zenaida Frank</td>
<td>Software Engineer</td>
<td>New York</td>
<td>63</td>
<td>2010/01/04</td>
<td>$125,250</td>
</tr>, <tr>
<td>Zorita Serrano</td>
<td>Software Engineer</td>
<td>San Francisco</td>
<td>56</td>
<td>2012/06/01</td>
<td>$115,000</td>
</tr>, <tr>
<td>Jennifer Acosta</td>
<td>Junior Javascript Developer</td>
<td>Edinburgh</td>
<td>43</td>
<td>2013/02/01</td>
<td>$75,650</td>
</tr>, <tr>
<td>Cara Stevens</td>
<td>Sales Assistant</td>
<td>New York</td>
<td>46</td>
<td>2011/12/06</td>
<td>$145,600</td>
</tr>, <tr>
<td>Hermione Butler</td>
<td>Regional Director</td>
<td>London</td>
<td>47</td>
<td>2011/03/21</td>
<td>$356,250</td>
</tr>, <tr>
<td>Lael Greer</td>
<td>Systems Administrator</td>
<td>London</td>
<td>21</td>
<td>2009/02/27</td>
<td>$103,500</td>
</tr>, <tr>
<td>Jonas Alexander</td>
<td>Developer</td>
<td>San Francisco</td>
<td>30</td>
<td>2010/07/14</td>
<td>$86,500</td>
</tr>, <tr>
<td>Shad Decker</td>
<td>Regional Director</td>
<td>Edinburgh</td>
<td>51</td>
<td>2008/11/13</td>
<td>$183,000</td>
</tr>, <tr>
<td>Michael Bruce</td>
<td>Javascript Developer</td>
<td>Singapore</td>
<td>29</td>
<td>2011/06/27</td>
<td>$183,000</td>
</tr>, <tr>
<td>Donna Snider</td>
<td>Customer Support</td>
<td>New York</td>
<td>27</td>
<td>2011/01/25</td>
<td>$112,000</td>
</tr>, <tr>
<th>Name</th>
<th>Position</th>
<th>Office</th>
<th>Age</th>
<th>Start date</th>
<th>Salary</th>
</tr>]

We note that every observation except the first and the last contain the info we need. We also note that the name, position, office, age, start date, and salary always have the same order. We can make use of these patterns to extract the information in a dataframe.

In [8]:
df = pd.DataFrame(columns=['name', 'position', 'office', 'age', 'start date', 'salary'])
#this created an empty dataframe with these column names
df

Empty DataFrame
Columns: [name, position, office, age, start date, salary]
Index: []

In [9]:
for i, item in enumerate(info): #enumerate gives us the order of the element and the element
    #now we skip the first and last elements. Note that
    #Python starts indexing at zero, as opposed to R
    if i != 0 and i != len(info)-1:
        #We previously saw that every data point was inside a "tr" tag
        #Now we note that every variable (column) inside the "tr" tags
        #is enclosed by tags named "td". This is what we want to extract
        data_point = item.find_all('td')
        row = [] #we'll append the variables to this empty row
        for value in data_point:
            row.append(value.text)
        print('\nObservation:', i)
        print(row)
        df.loc[i-1] = row #this adds a new row to the dataframe
        #we use i-1 because we skipped the first element
        print("Info added to the dataframe")

Observation: 1
['Tiger Nixon', 'System Architect', 'Edinburgh', '61', '2011/04/25', '$320,800']
Info added to the dataframe

Observation: 2
['Garrett Winters', 'Accountant', 'Tokyo', '63', '2011/07/25', '$170,750']
Info added to the dataframe

Observation: 3
['Ashton Cox', 'Junior Technical Author', 'San Francisco', '66', '2009/01/12', '$86,000']
Info added to the dataframe

Observation: 4
['Cedric Kelly', 'Senior Javascript Developer', 'Edinburgh', '22', '2012/03/29', '$433,060']
Info added to the dataframe

Observation: 5
['Airi Satou', 'Accountant', 'Tokyo', '33', '2008/11/28', '$162,700']
Info added to the dataframe

Observation: 6
['Brielle Williamson', 'Integration Specialist', 'New York', '61', '2012/12/02', '$372,000']
Info added to the dataframe

Observation: 7
['Herrod Chandler', 'Sales Assistant', 'San Francisco', '59', '2012/08/06', '$137,500']
Info added to the dataframe

Observation: 8
['Rhona Davidson', 'Integration Specialist', 'Tokyo', '55', '2010/10/14', '$327,900']
Info added to the dataframe

Observation: 9
['Colleen Hurst', 'Javascript Developer', 'San Francisco', '39', '2009/09/15', '$205,500']
Info added to the dataframe

Observation: 10
['Sonya Frost', 'Software Engineer', 'Edinburgh', '23', '2008/12/13', '$103,600']
Info added to the dataframe

Observation: 11
['Jena Gaines', 'Office Manager', 'London', '30', '2008/12/19', '$90,560']
Info added to the dataframe

Observation: 12
['Quinn Flynn', 'Support Lead', 'Edinburgh', '22', '2013/03/03', '$342,000']
Info added to the dataframe

Observation: 13
['Charde Marshall', 'Regional Director', 'San Francisco', '36', '2008/10/16', '$470,600']
Info added to the dataframe

Observation: 14
['Haley Kennedy', 'Senior Marketing Designer', 'London', '43', '2012/12/18', '$313,500']
Info added to the dataframe

Observation: 15
['Tatyana Fitzpatrick', 'Regional Director', 'London', '19', '2010/03/17', '$385,750']
Info added to the dataframe

Observation: 16
['Michael Silva', 'Marketing Designer', 'London', '66', '2012/11/27', '$198,500']
Info added to the dataframe

Observation: 17
['Paul Byrd', 'Chief Financial Officer (CFO)', 'New York', '64', '2010/06/09', '$725,000']
Info added to the dataframe

Observation: 18
['Gloria Little', 'Systems Administrator', 'New York', '59', '2009/04/10', '$237,500']
Info added to the dataframe

Observation: 19
['Bradley Greer', 'Software Engineer', 'London', '41', '2012/10/13', '$132,000']
Info added to the dataframe

Observation: 20
['Dai Rios', 'Personnel Lead', 'Edinburgh', '35', '2012/09/26', '$217,500']
Info added to the dataframe

Observation: 21
['Jenette Caldwell', 'Development Lead', 'New York', '30', '2011/09/03', '$345,000']
Info added to the dataframe

Observation: 22
['Yuri Berry', 'Chief Marketing Officer (CMO)', 'New York', '40', '2009/06/25', '$675,000']
Info added to the dataframe

Observation: 23
['Caesar Vance', 'Pre-Sales Support', 'New York', '21', '2011/12/12', '$106,450']
Info added to the dataframe

Observation: 24
['Doris Wilder', 'Sales Assistant', 'Sydney', '23', '2010/09/20', '$85,600']
Info added to the dataframe

Observation: 25
['Angelica Ramos', 'Chief Executive Officer (CEO)', 'London', '47', '2009/10/09', '$1,200,000']
Info added to the dataframe

Observation: 26
['Gavin Joyce', 'Developer', 'Edinburgh', '42', '2010/12/22', '$92,575']
Info added to the dataframe

Observation: 27
['Jennifer Chang', 'Regional Director', 'Singapore', '28', '2010/11/14', '$357,650']
Info added to the dataframe

Observation: 28
['Brenden Wagner', 'Software Engineer', 'San Francisco', '28', '2011/06/07', '$206,850']
Info added to the dataframe

Observation: 29
['Fiona Green', 'Chief Operating Officer (COO)', 'San Francisco', '48', '2010/03/11', '$850,000']
Info added to the dataframe

Observation: 30
['Shou Itou', 'Regional Marketing', 'Tokyo', '20', '2011/08/14', '$163,000']
Info added to the dataframe

Observation: 31
['Michelle House', 'Integration Specialist', 'Sydney', '37', '2011/06/02', '$95,400']
Info added to the dataframe

Observation: 32
['Suki Burks', 'Developer', 'London', '53', '2009/10/22', '$114,500']
Info added to the dataframe

Observation: 33
['Prescott Bartlett', 'Technical Author', 'London', '27', '2011/05/07', '$145,000']
Info added to the dataframe

Observation: 34
['Gavin Cortez', 'Team Leader', 'San Francisco', '22', '2008/10/26', '$235,500']
Info added to the dataframe

Observation: 35
['Martena Mccray', 'Post-Sales support', 'Edinburgh', '46', '2011/03/09', '$324,050']
Info added to the dataframe

Observation: 36
['Unity Butler', 'Marketing Designer', 'San Francisco', '47', '2009/12/09', '$85,675']
Info added to the dataframe

Observation: 37
['Howard Hatfield', 'Office Manager', 'San Francisco', '51', '2008/12/16', '$164,500']
Info added to the dataframe

Observation: 38
['Hope Fuentes', 'Secretary', 'San Francisco', '41', '2010/02/12', '$109,850']
Info added to the dataframe

Observation: 39
['Vivian Harrell', 'Financial Controller', 'San Francisco', '62', '2009/02/14', '$452,500']
Info added to the dataframe

Observation: 40
['Timothy Mooney', 'Office Manager', 'London', '37', '2008/12/11', '$136,200']
Info added to the dataframe

Observation: 41
['Jackson Bradshaw', 'Director', 'New York', '65', '2008/09/26', '$645,750']
Info added to the dataframe

Observation: 42
['Olivia Liang', 'Support Engineer', 'Singapore', '64', '2011/02/03', '$234,500']
Info added to the dataframe

Observation: 43
['Bruno Nash', 'Software Engineer', 'London', '38', '2011/05/03', '$163,500']
Info added to the dataframe

Observation: 44
['Sakura Yamamoto', 'Support Engineer', 'Tokyo', '37', '2009/08/19', '$139,575']
Info added to the dataframe

Observation: 45
['Thor Walton', 'Developer', 'New York', '61', '2013/08/11', '$98,540']
Info added to the dataframe

Observation: 46
['Finn Camacho', 'Support Engineer', 'San Francisco', '47', '2009/07/07', '$87,500']
Info added to the dataframe

Observation: 47
['Serge Baldwin', 'Data Coordinator', 'Singapore', '64', '2012/04/09', '$138,575']
Info added to the dataframe

Observation: 48
['Zenaida Frank', 'Software Engineer', 'New York', '63', '2010/01/04', '$125,250']
Info added to the dataframe

Observation: 49
['Zorita Serrano', 'Software Engineer', 'San Francisco', '56', '2012/06/01', '$115,000']
Info added to the dataframe

Observation: 50
['Jennifer Acosta', 'Junior Javascript Developer', 'Edinburgh', '43', '2013/02/01', '$75,650']
Info added to the dataframe

Observation: 51
['Cara Stevens', 'Sales Assistant', 'New York', '46', '2011/12/06', '$145,600']
Info added to the dataframe

Observation: 52
['Hermione Butler', 'Regional Director', 'London', '47', '2011/03/21', '$356,250']
Info added to the dataframe

Observation: 53
['Lael Greer', 'Systems Administrator', 'London', '21', '2009/02/27', '$103,500']
Info added to the dataframe

Observation: 54
['Jonas Alexander', 'Developer', 'San Francisco', '30', '2010/07/14', '$86,500']
Info added to the dataframe

Observation: 55
['Shad Decker', 'Regional Director', 'Edinburgh', '51', '2008/11/13', '$183,000']
Info added to the dataframe

Observation: 56
['Michael Bruce', 'Javascript Developer', 'Singapore', '29', '2011/06/27', '$183,000']
Info added to the dataframe

Observation: 57
['Donna Snider', 'Customer Support', 'New York', '27', '2011/01/25', '$112,000']
Info added to the dataframe

In [10]:
df

,name,position,office,age,start date,salary
0,Tiger Nixon,System Architect,Edinburgh,61,2011/04/25,"$320,800"
1,Garrett Winters,Accountant,Tokyo,63,2011/07/25,"$170,750"
2,Ashton Cox,Junior Technical Author,San Francisco,66,2009/01/12,"$86,000"
3,Cedric Kelly,Senior Javascript Developer,Edinburgh,22,2012/03/29,"$433,060"
4,Airi Satou,Accountant,Tokyo,33,2008/11/28,"$162,700"
5,Brielle Williamson,Integration Specialist,New York,61,2012/12/02,"$372,000"
6,Herrod Chandler,Sales Assistant,San Francisco,59,2012/08/06,"$137,500"
7,Rhona Davidson,Integration Specialist,Tokyo,55,2010/10/14,"$327,900"
8,Colleen Hurst,Javascript Developer,San Francisco,39,2009/09/15,"$205,500"
9,Sonya Frost,Software Engineer,Edinburgh,23,2008/12/13,"$103,600"
10,Jena Gaines,Office Manager,London,30,2008/12/19,"$90,560"
11,Quinn Flynn,Support Lead,Edinburgh,22,2013/03/03,"$342,000"
12,Charde Marshall,Regional Director,San Francisco,36,2008/10/16,"$470,600"
13,Haley Kennedy,Senior Marketing Designer,London,43,2012/12/18,"$313,500"
14,Tatyana Fitzpatrick,Regional Director,London,19,2010/03/17,"$385,750"
15,Michael Silva,Marketing Designer,London,66,2012/11/27,"$198,500"
16,Paul Byrd,Chief Financial Officer (CFO),New York,64,2010/06/09,"$725,000"
17,Gloria Little,Systems Administrator,New York,59,2009/04/10,"$237,500"
18,Bradley Greer,Software Engineer,London,41,2012/10/13,"$132,000"
19,Dai Rios,Personnel Lead,Edinburgh,35,2012/09/26,"$217,500"
20,Jenette Caldwell,Development Lead,New York,30,2011/09/03,"$345,000"
21,Yuri Berry,Chief Marketing Officer (CMO),New York,40,2009/06/25,"$675,000"
22,Caesar Vance,Pre-Sales Support,New York,21,2011/12/12,"$106,450"
23,Doris Wilder,Sales Assistant,Sydney,23,2010/09/20,"$85,600"
24,Angelica Ramos,Chief Executive Officer (CEO),London,47,2009/10/09,"$1,200,000"
25,Gavin Joyce,Developer,Edinburgh,42,2010/12/22,"$92,575"
26,Jennifer Chang,Regional Director,Singapore,28,2010/11/14,"$357,650"
27,Brenden Wagner,Software Engineer,San Francisco,28,2011/06/07,"$206,850"
28,Fiona Green,Chief Operating Officer (COO),San Francisco,48,2010/03/11,"$850,000"
29,Shou Itou,Regional Marketing,Tokyo,20,2011/08/14,"$163,000"
30,Michelle House,Integration Specialist,Sydney,37,2011/06/02,"$95,400"
31,Suki Burks,Developer,London,53,2009/10/22,"$114,500"
32,Prescott Bartlett,Technical Author,London,27,2011/05/07,"$145,000"
33,Gavin Cortez,Team Leader,San Francisco,22,2008/10/26,"$235,500"
34,Martena Mccray,Post-Sales support,Edinburgh,46,2011/03/09,"$324,050"
35,Unity Butler,Marketing Designer,San Francisco,47,2009/12/09,"$85,675"
36,Howard Hatfield,Office Manager,San Francisco,51,2008/12/16,"$164,500"
37,Hope Fuentes,Secretary,San Francisco,41,2010/02/12,"$109,850"
38,Vivian Harrell,Financial Controller,San Francisco,62,2009/02/14,"$452,500"
39,Timothy Mooney,Office Manager,London,37,2008/12/11,"$136,200"
40,Jackson Bradshaw,Director,New York,65,2008/09/26,"$645,750"
41,Olivia Liang,Support Engineer,Singapore,64,2011/02/03,"$234,500"
42,Bruno Nash,Software Engineer,London,38,2011/05/03,"$163,500"
43,Sakura Yamamoto,Support Engineer,Tokyo,37,2009/08/19,"$139,575"
44,Thor Walton,Developer,New York,61,2013/08/11,"$98,540"
45,Finn Camacho,Support Engineer,San Francisco,47,2009/07/07,"$87,500"
46,Serge Baldwin,Data Coordinator,Singapore,64,2012/04/09,"$138,575"
47,Zenaida Frank,Software Engineer,New York,63,2010/01/04,"$125,250"
48,Zorita Serrano,Software Engineer,San Francisco,56,2012/06/01,"$115,000"
49,Jennifer Acosta,Junior Javascript Developer,Edinburgh,43,2013/02/01,"$75,650"
50,Cara Stevens,Sales Assistant,New York,46,2011/12/06,"$145,600"
51,Hermione Butler,Regional Director,London,47,2011/03/21,"$356,250"
52,Lael Greer,Systems Administrator,London,21,2009/02/27,"$103,500"
53,Jonas Alexander,Developer,San Francisco,30,2010/07/14,"$86,500"
54,Shad Decker,Regional Director,Edinburgh,51,2008/11/13,"$183,000"
55,Michael Bruce,Javascript Developer,Singapore,29,2011/06/27,"$183,000"
56,Donna Snider,Customer Support,New York,27,2011/01/25,"$112,000"

And now this dataframe can be easily exported to a `csv` file.